

@import url(http://fonts.googleapis.com/css?family=Teko:300,700);

body { margin: 0; padding: 0; background-color: black; color: #fff; }

#world-premiere{


	font-size: 16px;
	font-family: 'Teko', sans-serif;
	width: 900px;
	
	 position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
	border:1px solid rgba(255,255,255,.2);
	background: url(s2e18.jpg)  center;
	background-size: cover;
	height: 575px;

}


#world-premiere h1{
	font-size: 4.2em;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
	text-align: right;
	padding: 380px 2px 0 0;
	line-height: 30px;

}


#world-premiere .my-countdown .countdown-row{
	display:block;
	text-align: right;
	
}

#world-premiere .my-countdown .countdown-section{
	display: inline-block; width: 95px;
	
}

#world-premiere .my-countdown .countdown-amount{
	display:block;
	font-size: 5.5em;
	line-height: 45px;

}

#world-premiere .my-countdown .countdown-period{
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;


}

@media screen and (max-width: 525px){


		 #world-premiere{
		 	font-size: 10px;
		 	width: 400px;
		 	height: 250px;
			/*margin: 150px auto;*/
			position: fixed;
			  top: 50%;
			  left: 50%;

  			  transform: translate(-50%, -50%);
		 	
		 	
		 	background-size:fixed;

		 }
		 #word-premiere .heading{
		 	padding:12px 0px 8px 0px;
		 	margin-bottom: 20px;
		 }

		 #world-premiere h1{
		 	line-height: 10px;
		 	font-size: 2.7em;
			padding: 150px 2px 0 0;
	
		 }

		 #world-premiere .my-countdown .countdown-section{
		 	width:60px;
		 	font-size: 0.7em;
		 }

}


			@media screen and (max-height: 525px){


		 #world-premiere{
		 	font-size: 10px;
		 	width: 400px;
		 	height: 250px;
			/*margin: 150px auto;*/

			  position: fixed;
			  top: 50%;
			  left: 50%;

  			  transform: translate(-50%, -50%);
		 	
		 	  background-size:fixed;

		 }
		 #word-premiere .heading{
		 	padding:12px 0px 8px 0px;
		 	margin-bottom: 20px;
		 }

		 #world-premiere h1{
		 	line-height: 10px;
		 	font-size: 2.7em;
			padding: 150px 2px 0 0;
	
		 }

		 #world-premiere .my-countdown .countdown-section{
		 	width:60px;
		 	font-size: 0.7em;
		 }



